
.loading-screen {
  background-color: #ffd768;
}

.logoWrap {
  display: flex;
  justify-content: center;
  padding-top:50px;
  align-items: left;
  padding:25px;
  border-radius:15px;

}

.logo {
width:100px;
border-radius:15px;
background-color: #ffd768;
height:100px;
}

.loading-bar {
  width: 100%;
  height: 50px;
  background-color: #ffd768;
  position: relative;
  border-radius: 15px;
}

.progress-bar {
height: 100%;
width: 0;
border-color:  black 5px;
background-color: #ffd768;
animation: progress 3s linear infinite; 
}

.loading-text {
  text-align: center;
  line-height: 50px;
  color: #333;
  background-color: #ffd768;
  font-weight: bold;
}

@keyframes progress { 
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}