@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Domine&family=Inconsolata&family=Quicksand:wght@300;400&display=swap');

body {
  font-family:'Domine', serif;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:column;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow-y: auto;


}


.App {
  background-image:url("https://i.pinimg.com/originals/08/9d/16/089d16beb15a326050cfdaca34560e51.png");
  background-size:cover;
  background-position: center;
  text-align:center;
  width:55em;
  height:100em;

}

.split {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  background-image:url('/public/newspaper_wallpaper.png');
  background-position: center;
  background-size: cover;
  height:100%;
}



